@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.userprofileimage{
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.searchedmessage{
    text-align: center;
}

#navbarNavDropdown{
    text-align: end;
    align-items: flex-end;
    margin-left: 500px;
}
.project-card{
    border: 1px solid gainsboro;
    margin-left: 20px;
    padding-bottom: 20px;
}

.project-card img{
    height: 250px;
    width: 100%;
    object-fit: cover;
    margin-top: 30px;
}

#registerform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

#registerform form{
    height: 370px;
    border-radius: 5px;
}

#registerform label{
    width: 100%;
    position: relative;
}

#registerform label input{
    border: none;
}

.register{
    background-color: #fafbfb;
}

.login{
    background-color: #fafbfb;
}

#registerpanels{
    border: 1px solid gainsboro;
}

#registerpanels form label{
    margin-top: 10px;
}

/* #registerbutton{
    background-color: #222423;
} */

#login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
    /* border: 1px solid gainsboro; */
}

#login-form form{
    border: 1px solid gainsboro;
    padding: 70px;
    margin: 30px;
    background-color: white;
    height: 370px;
    border-radius: 5px;
}

.indexprojects-card img{
    height: 300px;
    width: 100%;
    object-fit: cover;
    margin-top: 10px;
}

.indexprojects-card{
    margin-top: 30px;
}

.indexpage{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.viewprojectbutton{
    color:white;
}

.indexpage{
    background-color: #fafbfb;
}

.indexpage h1{
    /* border-bottom: 1px solid black; */
    margin-bottom: 15px;
}

.navbar{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.searchpage{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.viewproject{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background-color: #fafbfb;
}

#viewproject{
    margin-top:30px;
}


#viewproject img{
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.view-userprofile{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.viewdescription{
    text-align:left;
}

.profile-details{
    padding-left: 30px;
    padding-top: 20px;
    border-radius: 5px;
}

.upload-project{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background-color: #fafbfb;
}

.uploadform{
    background-color: white;
    padding: 30px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    margin: 20px 0px;
}

.createprofile{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background-color: #fafbfb

}

.createprofileform{
    background-color: white;
    padding: 30px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    margin: 20px 0px;
}

.rateproject{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background-color: #fafbfb
}

.design-checked{
    background-color: beige;
}

.usability-checked{
    background-color: beige;
}

.content-checked{
    background-color: beige;
}

.design-rate button{
    margin-left: 20px;
    font-size: 18px;
    border: 1px solid gainsboro;
    padding: 10px;
}

.usability-rate button{
    margin-left: 20px;
    font-size: 18px;
    border: 1px solid gainsboro;
    padding: 10px;
}

.content-rate button{
    margin-left: 20px;
    font-size: 18px;
    border: 1px solid gainsboro;
    padding: 10px;
}

.rateprojectrow img{
    height: 500px;
    width: 800px;
    margin-left: 150px;
}

#viewproject img{
    height: 500px;
    width: 800px;
    margin-left: 150px;;
}

footer{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}




