h1{
    color: red;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.userprofileimage{
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.searchedmessage{
    text-align: center;
}

#navbarNavDropdown{
    text-align: end;
    align-items: flex-end;
    margin-left: 600px;
}

.project-card img{
    height: 250px;
    width: 100%;
    object-fit: cover;
    margin-top: 30px;
}

#registerform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

#registerform form{
    height: 370px;
}

#registerform label{
    width: 100%;
    position: relative;
}

#registerform label input{
    border: none;
}

.register{
    background-color: #fafbfb;
}

#registerpanels{
    border: 1px solid gainsboro;
}

#registerpanels form label{
    margin-top: 10px;
}

/* #registerbutton{
    background-color: #222423;
} */


