h1{
    color: red;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.userprofileimage{
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.searchedmessage{
    text-align: center;
}

#navbarNavDropdown{
    text-align: end;
    align-items: flex-end;
    margin-left: 600px;
}

.project-card img{
    height: 250px;
    width: 100%;
    object-fit: cover;
    margin-top: 30px;
}