{% extends 'registration/base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block content %}
<div class="container-fluid login">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 form-group" id="login-form">
            <form method="post", action=""> 
                {% csrf_token %}
                <label for="username">Enter username:</label>
                <input type="text" name="username" class="form-control"><br>
                <label for="password">Enter Password</label> 
                <input type="password" name="password" class="form-control"><br>

                {% for message in messages %}
                {{message}}
                {% endfor %}

                <input type="submit" value="LOGIN" class="btn btn-success btn-block">
            </form>

            <h6>Not a Member? <a href="{% url 'registeruser' %}">Create an Account</a></h6>

        </div>
        <div class="col-md-3"></div>
    </div>

</div>

{% endblock %}