{% extends 'projects/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block content %}
<div class="container-fluid indexpage">
    <div class="row">
        <div>
            {% for project in projects %}
            <div class="indexprojects-card col-md-6">
                <h3 style="text-transform: uppercase;">Project Title: {{project.title}}</h3>
                <a href="{% url 'viewproject' project.id %}"><img src="{{project.image.url}}" alt="{{project.description}}"></a>
                <br>
                <br>
                <button class="btn btn-success btn-lg btn-block"><a href="{% url 'rateproject' project.id %}"
                        class="viewprojectbutton">RATE PROJECT</a></button>
                <p>Project Link: <a href="{{project.link}}">{{project.link}}</a></p>
                <!-- <p>Project Description: {{project.description}}</p> -->




            </div>

            {% endfor %}
        </div>

    </div>

</div>


{% endblock%}