{% extends 'projects/base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block content %}
<div class="container-fluid viewproject">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div id="viewproject">
                {% for project in project %}
                <p class="text-center">Project Link: <a href="{{project.link}}">{{project.link}}</a></p>
                <h4 class="text-center">Project Title: {{project.title}}</h4>
                <img src="{{project.image.url}}" alt="{{project.description}}">
                <p class="text-center">Project Description: {{project.description}}</p>
                {% endfor %}
            </div>

        </div>
        <div class="col-md-1"></div>
    </div>
</div>

{% endblock %}