{% extends 'projects/base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block content %}
<div class="container-fluid view-userprofile">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row profile-details">
                {% for user in user %}
                {% if user.profile_pic.url %}
                <img src="{{user.profile_pic.url}}" alt="{{user.user}}" class="userprofileimage">
                {% else %}
                <img src="../../static/Images/altprofilepic.jpeg" alt="woman designing on her laptop"
                    class="userprofileimage">
                {% endif %}
                <p>Name: {{user.user}}</p>
                <p>Bio: {{user.bio}}</p>
                <p>Contact Details: {{user.contact}}</p>
                {% endfor %}
            </div>
            <div class="row">
                {% for project in projects %}
                <div class="col-md-4 project-card">
                    <img src="{{project.image.url}}" alt="{{project.title}}">
                    <br>
                    <br>
                    <button class="btn btn-success btn-lg btn-block"><a href="{% url 'viewproject' project.id %}"
                            class="viewprojectbutton">VIEW PROJECT DETAILS</a></button>
                    <h4>Project title: {{project.title}}</h4>
                    <p>Project Description: {{project.description}}</p>
                </div>
                {% endfor %}
            </div>

        </div>
        <div class="col-md-1"></div>
    </div>
</div>

{% endblock %}